body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:168px;
  top:157px;
  width:95px;
  height:109px;
}
#u118 {
  position:absolute;
  left:2px;
  top:46px;
  width:91px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:378px;
  top:157px;
  width:95px;
  height:109px;
}
#u120 {
  position:absolute;
  left:2px;
  top:46px;
  width:91px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:378px;
  top:357px;
  width:95px;
  height:109px;
}
#u122 {
  position:absolute;
  left:2px;
  top:46px;
  width:91px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:263px;
  top:212px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u124 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:426px;
  top:266px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u126 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:378px;
  top:412px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:166px;
  height:8px;
}
#u127_seg1 {
  position:absolute;
  left:-166px;
  top:-146px;
  width:8px;
  height:150px;
}
#u128 {
  position:absolute;
  left:-204px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
